.App {
    text-align: center;
}
.nav-link {
  font-size: 15px;
}
.navbar_toggler {
  border-color: transparent;
}
.font-title {
  font-size: 15px
}
.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh);
  position: absolute;
  top: 0;
  border-radius: 0;
  z-index: -1;
  
  background-size: cover;
  background-repeat: no-repeat;
}
.home-logo-img {
  height: 150px;
  margin-bottom: 50px;
}
.jumbotron p {
  width: 50%;
}
.cac-home-title {
  text-align: center;
  font-size: 3.6rem;
  color: #ffffff;
  margin-bottom: 20px;
}
.thoughtworks-logo {
  height: 32px;
  margin-bottom: 40px;
}
.red-font {
  color: #F23136;
}
.cac-home-subtitle {
  font-size: 1.8rem;
  color: #D8D8D8;
  text-align: center;
}
.class-model-content {
  width: 100%;
}
.class-model-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-jumbotron {
   text-align: center;
}
.course-model {
  margin-bottom: 100px;
}
.home-contain {
  width: 100%;
  position: absolute;
  top: calc(100vh);
  margin: 70px auto;
}
.course-model-content {
  margin-top: 100px;
}
.sub-brand-col {
  text-align: center;
  width: 100px;
  color: #000000;
  padding: 50px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px #E5E5E5;
}
.sub-brand-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.course-model-img {
  
}



