
@media (min-width: 992px) and (max-width: 2000px) {
  .body {
    font-size: 0.625rem; /* 1rem = 10px */
  }
  .course-model-img {
    text-align: right;
  }
  .jumbotron {
    background-image: url(../assets/home_bg_black.png);
  }
  .course-model-content {
    margin-top: 100px;
  }
  .navbar-nav {
    float: right;
  }
}
@media (min-width: 760px) and (max-width: 991px){
  .body {
    font-size: 0.625rem; /* 1rem = 10px */
  }
  .course-model-img {
    text-align: center;
  }
  .jumbotron {
    background-image: url(../assets/tablet_bg.png);
  }
  .course-model-content {
    margin-top: 50px;
  }
  .navbar-nav {
    float: left;
  }
}
@media (min-width: 300px) and (max-width: 759px){
  .body {
    font-size: 0.3125rem; /* 1rem = 10px */
  }
  .course-model-img {
    text-align: center;
  }
  .jumbotron {
    background-image: url(../assets/mobile_bg.png);
  }
  .course-model-content {
    margin-top: 50px;
  }
  .navbar-nav {
    float: left;
  }
}
#id {
  min-width: 300px;
}
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: sans-serif;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar {
  padding: 10px 40px;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar-collapse.collapse {
  padding: 0;
}





