
@media (min-width: 992px) and (max-width: 2400px) {
  html {
    font-size: 0.625rem!important; /* 1rem = 10px */
  }
  .course-model-img {
    text-align: right;
  }
  .jumbotron {
    background-image: url(../assets/home_bg_black.png);
  }
  .course-model-content {
    margin-top: 100px;
  }
  .navbar-nav {
    float: right;
  }
  .training-model-img {
    width: 55%;
  }
  .home-logo {
    position: relative;
    height: 40px;
    bottom: 0.5%;
  }
  .navbar {
    padding: 10px 40px;
  }
}
@media (min-width: 577px) and (max-width: 991px){
  html {
    font-size: 0.625rem!important; /* 1rem = 10px */
  }
  .course-model-img {
    text-align: center;
  }
  .jumbotron {
    background-image: url(../assets/tablet_bg.png);
  }
  .course-model-content {
    margin-top: 50px;
  }
  .navbar-nav {
    float: left;
  }
  .training-model-img {
    width: 85%;
  }
  .home-logo {
    position: relative;
    height: 40px;
    bottom: 0.5%;
  }
  .collapse-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar {
    padding: 10px 20px;
  }
  .navbar-bg {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .navbar-collapse.collapse {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 576px){
  html {
    font-size: 0.5rem!important/* 1rem = 10px */
  }
  .course-model-img {
    text-align: center;
  }
  .jumbotron {
    background-image: url(../assets/mobile_bg.png);
  }
  .course-model-content {
    margin-top: 50px;
  }
  .navbar-nav {
    float: left;
  }
  .training-model-img {
    width: 100%;
  }
  .home-logo {
    position: relative;
    height: 25px;
    bottom: 10%;
  }
  .collapse-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar {
    padding: 10px 20px;
  }
  .navbar-bg {
    background-color: rgba(0, 0, 0, 0.9);
  }
}
button {
  outline: none!important;
}
.nav-title {
  font-size: 2rem;
}
#id {
  min-width: 300px;
}
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: sans-serif;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}






